

@keyframes pop-in {
    0%{font-size: 100%;}
    50%{font-size: 25%;}
    100%{font-size: 100%;}
}
body{
    background-color:#FFE5D9 ;
    margin:0;
}
#Let1{
    animation: pop-in 1s 1;
}
#Let2{
    animation: pop-in 1s 0.1s 1;
}
#Let3{
    animation: pop-in 1s 0.2s;
}
#Let4{
    animation: pop-in 1s 0.3s;
}
#Let5{
    animation: pop-in 1s 0.4s;
}
#Let6{
    animation: pop-in 1s 0.5s;
}
#Let7{
    animation: pop-in 1s 0.6s;
}
#Let8{
    animation: pop-in 1s 0.7s;
}
#Let9{
    animation: pop-in 1s 0.8s;
}
#Let10{
    animation: pop-in 1s 0.9s;
}
#Let11{
    animation: pop-in 1s 1s;
}
#title-box{
    height: 50px;
}
#header{ 
    line-height: 25px;
    border-radius: 4px;
    padding: 10px;
    background-image: linear-gradient(#FEC89A,#FFE5D9);
    justify-content: center; 
}
#heading{
    text-align: center;
    justify-content: center;
    color: #FC654A; 
    font-size: 100px;
    text-shadow: 3px 3px #57251c;
    font-family: Lobster;
}
#paragraph{
    text-align: center;
    justify-content: center;
    color: #3f4b44; 
    font-size: 25px;
    font-family:'Space Mono', monospace;
}

#links{
    color:#A1BAAB;
    text-shadow: 3px 3px rgb(57, 68, 59);
    justify-content: center; 
    text-align: center;
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    font-family: Lobster;
}
#links:hover{
    color:#637269;
    text-shadow:1px 1px #1d221f;
}
.Center{

    box-shadow: 10px 10px rgb(175, 175, 175);
    width: 30%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#feed{
    padding-top: 20px;
}