

@keyframes pop-in {
    0%{font-size: 100%;}
    50%{font-size: 25%;color:#A1BAAB; text-shadow: #3f4b44;}
    100%{font-size: 100%;}
}
body{
    background-color:#FFE5D9 ;
    margin:0;
}

#Let1{
    animation: pop-in 1s;
}
#Let2{
    animation: pop-in 1s 0.1s;
}
#Let3{
    animation: pop-in 1s 0.2s;
}
#Let4{
    animation: pop-in 1s 0.3s;
}
#Let5{
    animation: pop-in 1s 0.4s;
}
#Let6{
    animation: pop-in 1s 0.5s;
}
#Let7{
    animation: pop-in 1s 0.6s;
}
#Let8{
    animation: pop-in 1s 0.7s;
}
#Let9{
    animation: pop-in 1s 0.8s;
}
#Let10{
    animation: pop-in 1s 0.9s;
}
#Let11{
    animation: pop-in 1s 1s;
}
#title-box{
    height: 5vw;
}
#header{ 
    line-height: 10vw;
    padding: 1vw;
    background-image: linear-gradient(#FEC89A,#FFE5D9);
    justify-content: center; 
    text-align: center;
}

#heading{
    text-align: center;
    justify-content: center;
    color: #FC654A; 
    font-size: 8vw;
    text-shadow: .7vw .7vw #57251c;
    font-family: Lobster;
}

#paragraph{
    text-align: center;
    justify-content: center;
    color: #3f4b44; 
    font-size: 2vw;
    font-family:'Space Mono', monospace;
}

#links{
    color:#A1BAAB;
    text-shadow: .4vw .2vw rgb(57, 68, 59);
    justify-content: center; 
    text-align: center;
    padding:1vw;
    font-size: 5vw;
    text-decoration: none;
    font-family: Lobster;
    display: flex;
}

#links:hover{
    color:#637269;
    text-shadow:.2vw .2vw #1d221f;
}
hr.rounded{
    border-top: .5vw solid #FC654A;
    border-radius: .8vw;
}
.Center{
    box-shadow: .5vw .5vw #57251c;
    width: 20vw;
    border-radius: 50%;
    border-color: transparent;
    border-width: .1vw;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
}
#feed{
    padding-top: 20px;
}